body {
   margin: 0;
}

.App {
  text-align: center;
  width: 100vw;
  background-size: cover;
  background-repeat: repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(252, 252, 252, 0.603);
  border: none;
  font-size: 1rem;
}

.nav-link {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  color: green;
}

.nav-link:hover {
  color: #3d2e25;
  border-left: solid 2px #3d2e25;
  border-right: solid 2px #3d2e25;

}

link {
  border-right: none;
}

.Home {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  height: 10rem;
  padding: 2rem;
  color: #3d2e25;
  font-size: 1.3rem;
  margin: 1rem;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
  flex-wrap: wrap;
}

h2 {
  color: green;
  font-size: 2rem;
}

.space {
  height: 6rem;
}

.image {
  /* width: 75%; */
  height: max-content;
  margin-left: auto;
  margin-right: auto;
}

.aboutWrapper {
  background-color: rgba(247, 192, 192, 0.89);
  width: 50%;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  color: #3d2e25;
  font-size: 1rem;
  
}

.Contact {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.664);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  margin-top: 4rem;

}

.home-right {
  margin-left: 3rem;
}

li {
  list-style: none;
}

footer {
  height: 1rem;
  width: 100%;
  bottom: 0;
  background-color: #3d2e25;
  color: white;
  text-align: center;
}

.spacer {
  height: 15rem;
}

.homeHeader {
  color: green;
  font-size: 7em;
  font-weight: bold;
  margin-bottom: 0px;
}

.ceopic {
  width:15rem;
  height:10rem;
}

@media only screen and (max-width: 700px) {
  .homeHeader {
    font-size: 4rem;
  }
}

.slogan {
  color:#3d2e25;
  font-size:3em;
  margin-top:0;
}

@media only screen and (max-width: 700px) {
  .slogan {
    font-size: 2rem;
  }
}

.homeButton {
  color:green;
  background-color:transparent;
  border-radius:25px; 
  border:solid 2px green;
  height:4rem;
  width:8rem;
  font-size:2rem;
}

@media only screen and (max-width: 700px) {
  .homeButton {
    font-size: 1rem;
    height:2rem;
    width:4rem;
  }
}

@media only screen and (max-width: 700px) {
  .taco {
    width: 8rem;
    height: 4rem;
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 700px) {
  .aboutQuote {
    font-size: 0.5rem;
  }
}
