body {
   margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(252, 252, 252, 0.603);
  border: none;
  font-size: 3vh;
}

.nav-link {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  color: green;
}

.nav-link:hover {
  color: black;
  border-left: solid 2px black;
  border-right: solid 2px black;

}

link {
  border-right: none;
}

.Home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.card {
  width: 10rem;
  height: 10rem;
}

/* .cardWrapper {
  display: flex;
  justify-content: column;
} */